<div class="row">
    <div class="col-md-12">
        <h2>Configuration of Sensors</h2>
    </div>
</div>
<div class="row">
    <form class="form-horizontal" *ngIf="!isAuth" #myForm="ngForm" (ngSubmit)="onSubmit()">
        <fieldset>

            <!-- Form Name -->
            <legend>Authorization</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="login">Login</label>
                <div class="col-md-4">
                    <input id="login" name="login" type="text" placeholder="Login" class="form-control input-md" required="" [(ngModel)]="login">
                    <span class="help-block">Enter your Login</span>
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password</label>
                <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="" [(ngModel)]="password">
                    <span class="help-block">Enter your password</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="loginbtn"></label>
                <div class="col-md-4">
                    <button id="loginbtn" name="loginbtn" type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2"><button type="button" *ngIf="isAuth" class="btn btn-primary" (click)="logout()">Exit from account</button></div>
    <div class="col-md-5"></div>
</div>

<div class="row">
    <button type="button" routerLink="/sidekicks">Go to sidekicks</button>
    <button type="button" (click)="checkToken()">Check token</button>
    <button type="button" (click)="checkCors()">Check cors</button>
</div>

