<div class="row">
    <div class="col-md-12">
        <h2>Sensors</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Coordinates</th>
                    <th scope="col">UnitOfMeasure</th>
                    <th scope="col">Last Indication</th>
                    <th scope="col">Indication TimeStamp</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-item [ngForOf]="sensors" let-i="index">
                    <tr app-guest-sensor-meta-item [data]="sensors[i]"></tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
